{% extends 'base/base.html' %}
<script> src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" </script>
	<script>
        	
    </script>
{% block content %}
    <form id="formId" method = "POST">
        <table>           
            <tr> 
                <td>E-mail do usuário:</td>
                <td><input type="text" size=100 name="user" id="user" value=""/></td>
            </tr>
            <tr> 
                <td>Senha:</td>
                <td><input type="text" size=100 name="password" id="password" value=""/></td>
            </tr>
			
            <tr><td><input type="submit" value="Submit" /></td></tr>
        </table>
    </form>
{% endblock %}
</body>



</html>
