{% extends 'base/base.html' %}

{% block style %}
    body {
        background-image: url('{{url_for('static', filename = 'img/graffiti-wallpaper-hd.jpg')}}');
        
    }
    form {
        background-image: url('{{url_for('static', filename = 'img/images.png')}}');
    }
{% endblock %}

		
{% block content%}


    
    {% from '_macro.html' import render_campo %}    
        <div class = 'container-fluid'>    

                </br>
                </br>
                </br>
                </br>
                
                            <h2 align = 'center'> <font color = 'white'>LOGIN DE USUÁRIO </font></h2>

                <form name = 'SentMessage' id = 'formId' method = 'POST'> 
                        </br>
                <div >      
                        <div>
                            {{ render_campo(form.user, class = 'form-control') }}
                        </div>                                    
                        <div>
                            {{ render_campo(form.password, class = 'form-control') }}
                        </div>
                </div>
                        </br>
                    <div class="button">
    	    	        <button type="submit" class = 'btn btn-default'>Logar</button>
    	            </div>
                </form>

                </br>
                </br>
                </br>
                </br>
        </div>






{% endblock %}
