{% extends 'base/base.html' %}


{% block content %}
    <p>{{ nome }}</p>
    <p>{{ sobrenome }}</p>
    <p>{{ idade }}</p>

  
		

    {% from '_macro.html' import render_campo %}    
        <divclass = 'container-fluid'>       
                <form name = 'SentMessage' id = 'formaContato' method = 'POST'>
                    
                        <div>
                            {{ render_campo(form.nome, class = 'form-control') }}
                        </div>                                    
                        <div>
                            {{ render_campo(form.idade, class = 'form-control') }}
                        </div>
                       
                    <div>
                        {{ render_campo(form.email, class = 'form-control') }}
                    </div>      
                    <div>
                        {{ render_campo(form.comentario, class = 'form-control') }}
                    </div>  
                    <div class="button">
    	    	        <button type="submit" class = 'btn btn-default'>Enviar sua mensagem</button>
    	            </div>
                </form>
        </div>    
{% endblock %}

</body>
</html>