{% extends 'base/base.html' %}

{% block script %}

{% endblock %}

		
{% block content%}
    {% from '_macro.html' import render_campo %}    
        <divclass = 'container-fluid'>       
                <form name = 'SentMessage' id = 'formId' method = 'POST'> 
                <div class = 'form-control'>      
                        <div>
                            {{ render_campo(form.user, class = 'form-control') }}
                        </div>                                    
                        <div>
                            {{ render_campo(form.password, class = 'form-control') }}
                        </div>
                </div>
                    <div class="button">
    	    	        <button type="submit" class = 'btn btn-default'>Logar</button>
    	            </div>
                </form>
        </div>    
{% endblock %}

</body>
</html>